/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.inline form {display: inline; }

label {
	padding-right: 10px;
}

*{

	font-family: "proxima-nova",Georgia;
	color:black;

}

a {
	color:black;
}

input {
	display:inline-block;
	max-width: 350px;
	
}
/*#banner {
	height:150px;
	width:100%;
}*/

#logo {

/*	margin-top:10px;*/
	margin-left:10px;
	margin-right:30px;
	height:80px;
	
}


.button:hover
{
	opacity:0.4;
	background-color:#789A8A !important;
}

.button.selected {

	background-color: red;
    opacity: 1; 

} 

.button.black {

	background-color: black;
	width: 180px;
    opacity: 1; 

} 

#gotit_button{
	background-color:black;
	border-color:black;
	width:220px;

}
#following_button{
	background-color:black;
	border-color:black;
	width:220px;
}

#not_getting_button{
	background-color:black;
	border-color:black;
	width:220px;
}
.inline-list > li > *{
	color:white;

}

.form-element {
	display:inline;

}



#navbar {

	margin-top:0px;
	background-color:#000000;
	color:white;
}

#menu{
	width:200px;
	display:inline-block;
	text-align:right;
}
.menu-item{
	text-align:right;
	color:white;
	display:inline;
	line-height: 60px;
	margin-top:15px;

}

.content{

	margin:20px;

}

#sidebar {

	margin-top:20px;
	float:right;

}



.wistia-upload-widget{position:relative;font-color:white;font-family:"proxima-nova", san-serif}.wistia-upload-widget

.swfu_container{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1010;overflow:hidden}.wistia-upload-widget

.upload-button{
	font-color:white !important;
	position:absolute;
	top:0;left:0;
	border:2px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:100%;
	height:100%;
	cursor:pointer;
	text-align:center;
	background-color: black;
/*	width: 180px;*/
    opacity: 1; 
}.wistia-upload-widget 

.upload-button.hover{
	opacity:0.8;
	background-color:#789A8A !important;
	/*background:#cef6f9;*/
	/*background-image:-moz-linear-gradient(top, #eaf2f3, #000000);*/
	/*background-image:-webkit-gradient(linear, left top, left bottom, from(#eaf2f3), to(#789A8A));*/
	border:2px solid #bbc
}.wistia-upload-widget

.upload-button .upload-media{
	display:inline-block;
	color:white;
	text-decoration:none;
	font-size:1em;
	text-shadow:-1px 0px #fff
}.wistia-upload-widget 

.cancel{display:none}.wistia-upload-widget
.failed{border:2px solid red}.wistia-upload-widget 
.upload-status{display:none}.wistia-upload-widget 
.time{text-align:right;font-size:12px;padding-right:20px}.wistia-upload-widget
 .time .upload-speed{display:none}.wistia-upload-widget .time 
 .time-left{display:inline}.wistia-upload-widget .time:hover 
 .upload-speed{display:inline}.wistia-upload-widget .time:hover 
 .time-left{display:none}.wistia-upload-widget 
 .progress{background:#fff;margin-bottom:4px;padding:4px;height:20px;position:relative}.wistia-upload-widget 
 .progress .progress-bar{background:url("/assets/progress.gif");height:100%;width:0%}.wistia-upload-widget
  .progress span{position:absolute;left:10px;top:20px;font-size:12px;font-weight:bold;text-align:right;color:#789A8A}.wistia-upload-widget
   /*a.cancel{position:absolute;top:31px;right:0;display:block;background:url("/assets/cancel_icon.png")}.wistia-upload-widget */


/*.menu-item a{
	color:white;
	margin-right:10px;

	border-color: #FFFFFF;
	border-right:2px;


}
*/

/*.button {

	background-color: #000000;

}

.form-element {

	display:inline;

}*/

/*#firstbutton {

	width:150px;
	height:50px;
	background-color:red;

}

#secondbutton {

	width:150px;
	height:50px;
	background-color:red;

}

#thirdbutton {

	width:150px;
	height:50px;
	background-color:red;

}

#main {
{
float:left 
}  */  
