

<div class="row">
<div class="large-12 columns">
	<div id="slider">
		<img id="banner" src="/assets/bg-4.jpg"/>
		 </div>
<hr />
</div>
</div>


<div class="row">
	<div class="large-4 columns">
  <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
  <h4>Join a Community of Biotech Innovators.</h4>
    <%= button_to('Join', library_path, :class=>:'button black', :method=>:get) %>  
  <p>At our lab and online Harlem Biospace is building a community of professionals dedicated to bringing research to practice. Through sharing of resources and knowledge within this community Hb accelerates the development of early stage ventures. </p>

</div>

<div class="large-4 columns">
  <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
  <h4>Keep Sharp on the Latest Trends and Techniques.</h4>
  <%= button_to('Browse', library_path, :class=>:'button black', :method=>:get) %>  
  <p>Subscribe to Hb resources, including our regularly updated library of video content ranging from training on lab best practices to perspective on emerging biotech and life science industry trends.</p>
  
</div>

<div class="large-4 columns">
  <!-- <img src="http://placehold.it/400x300&text=[img]" /> -->
  <h4>Contribute your Perspective and Expertise.</h4>
   <%= button_to('Mentor', library_path, :class=>:'button black', :method=>:get) %>  
  <p>If you have unique experience or expertise then apply to be a mentor to the biospace community. Mentors are listed in a directory and allowed to upload </p>

</div>

</div>

<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Join the Biospace Community!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Create an account for access to content, events, and mentors</p>
          </div>
          <div class="large-3 columns">
            
            <a href="/users/sign_up" class="radius button right">Sign up</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 <script src="assets/custom.modernizr.js"></script>
  <script src="assets/zepto.js"></script>
<script src="assets/foundation.js"></script>
  <script src="assets/foundation.orbit.js"></script>
