
<div class="large-3 pull-9 columns" id="sidebar">
    
 <h5>Lectures </h5>
    <%= button_to('Test Button', contribute_path, :class=>:'button black', :method=>:get) %>  
    
</div>


<div class="large-9 push-3 columns">
  <div id="wistia-upload-widget" style="width: 500px; height: 75px;"></div>
</div>

<script src="http://static.wistia.com/javascripts/upload_widget.js"></script>
<script>
var widget1 = new wistia.UploadWidget({ divId: 'wistia-upload-widget', publicProjectId: 'xbcj0uy56n' });
</script>