
<div class="large-3 pull-9 columns" id="sidebar">
    
 <h5>Lectures </h5>
    <%= button_to('Test Button', contribute_path, :class=>:'button black', :method=>:get) %>  
    
</div>


<div class="large-9 push-3 columns">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <div id="wistia-upload-widget" style="width: 500px; height: 75px;"></div>
  <div id="wistia-upload-widget-2" style="width: 500px; height: 75px;"></div>
  <div id="wistia-upload-widget-3" style="width: 500px; height: 75px;"></div>
  <script src="http://static.wistia.com/javascripts/upload_widget.js"></script>
  <div id="output"><p>Output:</p></div>
</div>
<script>
  var progressMessages = 0;
  var cb = {
    'initializationComplete': function() {
      $('#output').append('<p>initializationComplete</p>');
    },

    'initializationError': function(error) {
      $('#output').append('<p>initializationError: ' + error + '</p>');
    },

    'fileQueued': function(file) {
      $('#output').append('<p>fileQueued: ' + file.name + '</p>');
    },

    'uploadProgress': function() {
      progressMessages += 1;

      if ($('#output .progress').size() == 0) {
        $('#output').append('<p>uploadProgress: <span class="progress">1</span></p>');
      } else {
        $('#output span.progress').html(progressMessages.toString());
      }
    },

    'uploadSuccess': function(jsonFile) {
      $('#output').append('<p>uploadSuccess</p>');
    },

    'uploadComplete': function() {
      $('#output').append('<p>uploadComplete</p>');
    },

    'postUploadFailure': function(error) {
      $('#output').append('<p>postUploadFailure: ' + error + '</p>');
    },

    'fileQueueError': function(error) {
      $('#output').append('<p>fileQueueError: ' + error.code + '</p>');
    },

    'uploadError': function(error) {
      $('#output').append('<p>uploadError: ' + error.code + '</p>');
    }
  };

  var widget1 = new wistia.UploadWidget({ divId: 'wistia-upload-widget', publicProjectId: '4bD', callbacks: cb, buttonText: 'Project Upload' });

  // 2nd widget
  var progressMessages2 = 0;
  var cb2 = {
    'initializationComplete': function() {
      $('#output').append('<p>initializationComplete2</p>');
    },

    'initializationError': function(error) {
      $('#output').append('<p>initializationError2: ' + error + '</p>');
    },

    'fileQueued': function(file) {
      $('#output').append('<p>fileQueued2: ' + file.name + '</p>');
    },

    'uploadProgress': function() {
      progressMessages2 += 1;

      if ($('#output .progress2').size() == 0) {
        $('#output').append('<p>uploadProgress2: <span class="progress2">1</span></p>');
      } else {
        $('#output span.progress2').html(progressMessages2.toString());
      }
    },

    'uploadSuccess': function(jsonFile) {
      $('#output').append('<p>uploadSuccess2</p>');
    },

    'uploadComplete': function() {
      $('#output').append('<p>uploadComplete2</p>');
    },

    'postUploadFailure': function(error) {
      $('#output').append('<p>postUploadFailure2: ' + error + '</p>');
    },

    'fileQueueError': function(error) {
      $('#output').append('<p>fileQueueError2: ' + error.code + '</p>');
    },

    'uploadError': function(error) {
      $('#output').append('<p>uploadError2: ' + error.code + '</p>');
    }
  };

  var widget2 = new wistia.UploadWidget({ divId: 'wistia-upload-widget-2', publicProjectId: '8j3', callbacks: cb2 });

  // 3rd widget
  var progressMessages3 = 0;
  var cb3 = {
    'initializationComplete': function() {
      $('#output').append('<p>initializationComplete3</p>');
    },

    'initializationError': function(error) {
      $('#output').append('<p>initializationError3: ' + error + '</p>');
    },

    'fileQueued': function(file) {
      $('#output').append('<p>fileQueued3: ' + file.name + '</p>');
    },

    'uploadProgress': function() {
      progressMessages2 += 1;

      if ($('#output .progress3').size() == 0) {
        $('#output').append('<p>uploadProgress3: <span class="progress3">1</span></p>');
      } else {
        $('#output span.progress3').html(progressMessages2.toString());
      }
    },

    'uploadSuccess': function(jsonFile) {
      $('#output').append('<p>uploadSuccess3</p>');
    },

    'uploadComplete': function() {
      $('#output').append('<p>uploadComplete3</p>');
    },

    'postUploadFailure': function(error) {
      $('#output').append('<p>postUploadFailure3: ' + error + '</p>');
    },

    'fileQueueError': function(error) {
      $('#output').append('<p>fileQueueError3: ' + error.code + '</p>');
    },

    'uploadError': function(error) {
      $('#output').append('<p>uploadError3: ' + error.code + '</p>');
    }
  };

  var widget3 = new wistia.UploadWidget({ divId: 'wistia-upload-widget-3', publicProjectId: '8j3', callbacks: cb3 });
</script>

