<h2>Availability</h2>

<div class="daylist">
<h3>M</h3>
<h3>T</h3>
<h3>W</h3>
<h3>T</h3>
<h3>F</h3>
<h3>S</h3>
<h3>S</h3>
</div>

<div class="timeslot">
<h3>7AM-9AM</h3>
<br>
<h3>9AM-12PM</h3>
<br>
<h3>12PM-6PM</h3>
<br>
<h3>6PM-11PM</h3>
</div>

<div class="days">
<button class="day" id="MON1"></button>
<button class="day" id="TUE1"></button>
<button class="day" id="WED1"></button>
<button class="day" id="THU1"></button>
<button class="day" id="FRI1"></button>
<button class="day" id="SAT1"></button>
<button class="day" id="SUN1"></button>
</br>
<button class="day" id="MON2"></button>
<button class="day" id="TUE2"></button>
<button class="day" id="WED2"></button>
<button class="day" id="THU2"></button>
<button class="day" id="FRI2"></button>
<button class="day" id="SAT2"></button>
<button class="day" id="SUN2"></button>
</br>
<button class="day" id="MON3"></button>
<button class="day" id="TUE3"></button>
<button class="day" id="WED3"></button>
<button class="day" id="THU3"></button>
<button class="day" id="FRI3"></button>
<button class="day" id="SAT3"></button>
<button class="day" id="SUN3"></button>
</br>
<button class="day" id="MON4"></button>
<button class="day" id="TUE4"></button>
<button class="day" id="WED4"></button>
<button class="day" id="THU4"></button>
<button class="day" id="FRI4"></button>
<button class="day" id="SAT4"></button>
<button class="day" id="SUN4"></button>
</div>
</br>